[Unit]
Description=__APP__ social network
After=network.target postgresql.service nginx.service

[Service]
Type=simple
User=__APP__
Group=__APP__
Environment="MIX_ENV=prod"
Environment="HOME=__INSTALL_DIR__/live/"
WorkingDirectory=__INSTALL_DIR__/live/
ExecStart=__INSTALL_DIR__/live/bin/pleroma start
ExecStop=__INSTALL_DIR__/live/bin/pleroma stop
ExecReload=/bin/kill $MAINPID
KillMode=process
Restart=on-failure

# Sandboxing options to harden security
# Details for these options: https://www.freedesktop.org/software/systemd/man/systemd.exec.html
NoNewPrivileges=yes
PrivateTmp=yes
PrivateDevices=false
ProtectHome=false
ProtectSystem=full

# Denying access to capabilities that should not be relevant for webapps
# Doc: https://man7.org/linux/man-pages/man7/capabilities.7.html
CapabilityBoundingSet=~CAP_SYS_ADMIN

[Install]
WantedBy=multi-user.target
